.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: rgb(238, 227, 193);
}

.caseDiv {
  margin-left: 75vw;
}

#translationTextCase {
  height: 50px;
  width: 80px;
  border-radius: 12px;
  background-color: #000;
  color: #FFF;
  font-family: var(--font-mono);
  font-size: x-large;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#translationTextCase:hover {
  font-weight: bold;
}

#utilityButtons {
  text-align: center;
  margin: 3vh 0 0 0;
}

#buttonUt {
  height: 60px;
  width: fit-content;
  font-size: 30px;
  color: #FFF;
  font-family: var(--font-mono);
  background-color: #000;
  padding: 10px;
  border-radius: 13px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#buttonUt1 {
  height: 60px;
  width: fit-content;
  font-size: 30px;
  color: #FFF;
  font-family: var(--font-mono);
  background-color: #000;
  padding: 10px;
  border-radius: 13px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.men {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  background-color: #000;
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

.menuFont {
  font-family: var(--font-mono);
  color: #FFF;
  text-align: center;
  padding: 0.513rem;
  
  padding-left: 3rem;
  padding-right: 3rem;
}

#languages{
  display: flex;
  list-style: none;
}

.textArea {
  margin-top: 10px;
}

#InputBox {
  height: 280px;
  width: 41vw;
  border-radius: 13px;
  font-size: xx-large;
  resize: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding-left: 20px;
  padding-top: 20px;
}

#InputBox:focus {
  outline: 2px solid #000;
}

#OutputBox:hover {
  outline: 2px dashed #000;
  font-weight: bolder;
}

#OutputBox {
  height: 280px;
  width: 41vw;
  border-radius: 13px;
  font-size: xx-large;
  resize: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding-left: 20px;
  padding-top: 20px;
}

.description {
  padding: 1rem 2.2rem;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  #InputBox{
    width: 97vw;
  }

  #OutputBox{
    width: 97vw;
  }

  .menuFont {
    font-family: var(--font-mono);
    color: #FFF;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    opacity: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
  }

  .description a {
    padding: 1rem;
    padding: 0;
    margin: 0;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
    padding: 0;
    margin: 0;
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
    padding: 0;
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
